body{
    overflow-x: hidden;
    width: 100%;
    height: auto;
    background-color: #e5e5e5;
    margin: 0px;
    
    
}
#numbers{
    background-color: #F0932A;
    border-radius:50%;
    color: white;
    padding: 18px;
    font-size: large;
}
button{
    padding: 10px;
    background-color: #F0932A; 
    border: none;

}
span{
  color: #F0932A;
}
label{
    background-color: rgb(251, 251, 255) ;
}
.first_div{
    height: auto;
    width: 100%;
    background-image: url("images/image2.png");
    background-size: cover;
    margin: 0px;

}
.first_div{
    
}
.fist_div img{
    border-radius: 5px;

}
.first_div .nav_bar{
    float: right;
}
.first_div .nav_bar li{
    display: inline;
    padding: 50px;
    color: white;
}
.first_div .advert{
    color: white;
    margin: 150px;
    font-size: x-large;
    line-height: 1.6;
}
.first_div .advert #order_btn{
  line-height: 350px;
  font-size: medium;
  background-color: chocolate;
  color: white;
}
.services{
    margin-top: 0px;
    background-color: #e5e5e5;
    
}
.services .list{
   display: flex;
   justify-content: space-around;

}
.services .list li{
    align-content: center;
    list-style: none;
}
.services .list>li{
    padding: 30px;
    background-color: #ffffff;
}

.reviews{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}
.reviews li img{
    width: 90%;
    

}
.reviews li{
    
    color: white;
    list-style: none;
    display: flex;
    width: 50%;
  
}
.reviews  #rev_txt{
  line-height: 20px;
   align-content: center;
   padding: 30px;
 }
.menu{
    height: auto;
    width: 100%;
    background-color: #E5E5E5;
}

.menu .menu_list{
    width: 100%;
    display: flex;
    justify-content: space-around;
   flex-wrap: wrap;
    padding:1%;
    margin-bottom: 30px;
     overflow: hidden;
     margin-left: 2%;
      
}
.menu .menu_list #list{
    margin-left: 4%;
}
.menu .menu_list li{
    width: 20%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
    padding-right: 8%;
    padding-bottom: 1%;
    margin: 10px 75px 10px 80px;
   
    
    
    
}
.menu .menu_list>li img{
    padding: 10px;
    height: 80%;
    width: 90%;
}.menu .menu_list .break{
  flex-basis: 100%;
  height: 0;
}


 .book_now{

    background-image: url("images/image8.png");
     background-size: cover;
     padding: 200px;
     margin: 0px;
     color: white;
     font-size: x-large;
     
 }
 .footer_txt{
     overflow: hidden;
     height: auto;
    
     background-color: black;
     color: white;
     font-size: small;
     padding: 10px;
 }
