body{
    width: 100%;
    height: auto;
    
    
    margin: 0px;
}
span{
  color: chocolate;
}
.first_div{
    height: auto;
    width: 100%;
    
    background-image: url("images/image2.png");
    background-size: cover;
    margin: 0px;

}
.fist_div img{
    border-radius: 5px;

}
.first_div .nav_bar{
    float: right;
}
.first_div .nav_bar li{
    display: inline;
    padding: 50px;
    color: white;
}
.first_div .advert{
    color: white;
    margin: 150px;
    font-size: x-large;
    line-height: 1.6;
}
.first_div .advert #order_btn{
  line-height: 350px;
  font-size: medium;
  background-color: chocolate;
  color: white;
}
