body{
    width: 100%;
    height: auto;
    background-color: rgb(212, 212, 248);
    margin: 0px;
    
}
span{
  color: chocolate;
}
label{
    background-color: rgb(212, 212, 248) ;
}
.first_div{
    height: auto;
    width: 100%;
    background-image: url("images/image2.png");
    background-size: cover;
    margin: 0px;

}
.first_div{
    
}
.fist_div img{
    border-radius: 5px;

}
.first_div .nav_bar{
    float: right;
}
.first_div .nav_bar li{
    display: inline;
    padding: 50px;
    color: white;
}
.first_div .advert{
    color: white;
    margin: 150px;
    font-size: x-large;
    line-height: 1.6;
}
.first_div .advert #order_btn{
  line-height: 350px;
  font-size: medium;
  background-color: chocolate;
  color: white;
}
.services{
    margin-top: 0px;
    
}
.services .list{
   display: flex;
   justify-content: space-around;

}
.services .list li{
    align-content: center;
    list-style: none;
}
.services .list>li{
    padding: 30px;
    background-color: rgb(253, 251, 251);
}

.reviews{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.reviews li img{
    width: 90%;
    

}
.reviews li{
    
    color: white;
    list-style: none;
    display: flex;
    width: 50%;
  
}
.reviews  #rev_txt{
  line-height: 20px;
   align-content: center;
   padding: 30px;
 }
.menu{
    height: auto;
    width: 100%;
}
.menu .menu_list{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    padding: 20px;
     margin-bottom: 30px;
     
      
}
.menu .menu_list li{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
   
    padding: 20px;
    margin: 10px 75px 10px 80px;
    
    
    
}
